<form action='/prehistoric_creatures' method="POST">
    <label for="name">Name</label>
    <input id="name" type="text" name="type">

    <label for="url">Picture URL</label>
    <input id="url" type="text" name="img_url">

    <input type="submit">
</form>